@import "styles";

nav {
  background-color: $rich-black-fogra-29 !important;
}

.navbar-brand {
  font-style: italic;
}

.navbar-brand:hover {
  color: $dutch-white;
}

//Keep link highlighted while dropdown is active
.show > .navbar-brand {
  color: $dutch-white;
}