@import "signin-shared";

.error-help {
  font-style: italic;
  font-weight: bold;
}

.required-star {
  color: #ca0000;
}

.help-text {
  color: $rich-black-fogra-29;
  font-style: italic;
}

#register-btn {
  width: 100%;
}

.login-link {
  margin-top: 25px;
  text-align: center;
  width: 100%;
}