.form-title h2 {
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

form {
  margin-top: 50px;
  padding: 25px;  
}

#profile-pic {
  align-self: center;
}

#preview {
  margin-top: 25px;
  width: 150px;
}