<div class="container-fluid" >
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-10 offset-lg-1">
      <div class="form-title">
        <h2>Add Contact</h2>
      </div>
      <form (ngSubmit)="onSubmit(addContactForm)" #addContactForm="ngForm">
        <div class="row">
          <div class="col-sm-6 offset-sm-3 col-lg-6">
            <input type="file" accept="image/*" class="form-control-file" id="profile-pic" name="profilePic" ngModel #profilePic="ngModel" (change)="showPreview($event)"> 
            <img id="preview" [src]="imageSrc || 'http://placehold.it/180'" alt="preview" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-md-4 col-lg-4">
            <label for="first-name">First Name*</label>
            <input type="text" class="form-control" id="first-name" name="firstName" required ngModel #firstName="ngModel" pattern="^[a-zA-Z]*$">
            <div *ngIf="firstName.touched && !firstName.value" class="alert alert-danger">
              First name is required
            </div>
            <div *ngIf="firstName.touched && firstName.errors?.pattern" class="alert alert-danger">
              First name should only include letters
            </div>
          </div>
          <div class="form-group col-12 col-md-4 col-lg-4">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" name="lastName" ngModel #lastName="ngModel" pattern="^[a-zA-Z]*$">
            <div *ngIf="lastName.touched && lastName.errors?.pattern" class="alert alert-danger">
              Last name should only include letters
            </div>
          </div>
          <div class="form-group col-12 col-md-4 col-lg-4">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" ngModel #nickname="ngModel">
          </div>
        </div>
        <div class="add-field-container">
          <mat-icon class="add-btn-circle" (click)="addEmailField()">add_circle</mat-icon>
          <p class="add-field-text">Add email</p>
        </div>
        <div class="form-row">
          <div class="col-12 col-md-6 col-lg-4" ngModelGroup="emailGroup" #emailGroup="ngModelGroup" *ngFor="let _email of emails; let i = index;">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email{{_email.id}}" [(ngModel)]="_email.email" email #email="ngModel">
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                Please enter a valid email address <span class="error-help">e.g: email@domain.com</span>
              </div>
            </div>
            <div class="form-group">
              <select class="form-control" id="email-type" name="emailType{{_email.id}}" [(ngModel)]="_email.emailType" #emailType="ngModel">
                <option disabled selected value> -- select an option -- </option>
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div class="add-field-container">
          <mat-icon class="add-btn-circle" (click)="addPhoneField()">add_circle</mat-icon>
          <p class="add-field-text">Add phone</p>   
        </div>
        <div class="form-row">
          <div class="col-12 col-md-6 col-lg-4" ngModelGroup="phoneGroup" #phoneGroup="ngModelGroup" *ngFor="let _phone of phones; let i = index;">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone{{_phone.id}}" [(ngModel)]="_phone.phone" #phone="ngModel" pattern="^\d{10}$">
              <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
                Phone numbers must be 10 digits long and contain only numbers 
              </div>
            </div>
            <div class="form-group">
              <select class="form-control" id="phone-type" name="phoneType{{_phone.id}}" [(ngModel)]="_phone.phoneType" #phoneType="ngModel">
                <option disabled selected value> -- select an option -- </option>
                <option value="Mobile">Mobile</option>
                <option value="Home">Home</option>  
                <option value="Work">Work</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="addContactForm.invalid">Add Contact</button>
      </form>
    </div>
  </div>
</div>