<div class="container float-md-left contact-list-container">
  <div class="search-container w-100">
    <input type="search" class="form-control" placeholder="Search Contacts . . ." #search (keyup)="setSearchTerm(search.value)">
  </div>
  <ul id="contact-list">
    <li *ngFor="let contact of contactList | search:search.value" class="contact">
    <a routerLink="contact/{{contact.id}}" class="contact-link" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="search.value = ''">
      <img *ngIf="contact.path == '' else content" class="contact-pic-thumb" src=" {{ placeholderSrc }}">
      <ng-template #content>
        <img class="contact-pic-thumb" src="{{ contact.path }}">
      </ng-template>
      {{ contact.firstName }} {{ contact.lastName }}
    </a>
    </li>
  </ul>
  <div id="contact-count-container">
    <p>Contacts: {{ numberOfContacts }}</p>
  </div>
  <button class="btn btn-primary add-btn" [routerLink]="['add']" data-toggle="collapse" data-target=".navbar-collapse.show">Add Contact</button>
</div>