<div class="container float-left contact-list-container">
  <div class="search-container w-100">
    <input type="search" class="form-control" placeholder="Search Contacts . . .">
  </div>
  <ul id="contact-list">
    <li *ngFor="let contact of contactList" class="contact">
    <a href="" class="contact-link">
      <img class="profile-pic-thumb" src="../../assets/contact_placeholder.png">
      {{ contact.firstName }} {{ contact.lastName }}
    </a>
    </li>
  </ul>
  <div id="contact-count-container">
    <p>Contacts: {{ numberOfContacts }}</p>
  </div>
</div>