<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 offset-md-3">
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div *ngIf="loginError.length > 0 " class="alert alert-danger">
          {{ loginError }}
        </div>
        <h1>Login</h1>
        <div class="form-row">
          <div class="form-group col-10 offset-1">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required ngModel email #email="ngModel">
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
              Please enter your email address
            </div> 
          </div>
        </div> <!--End Form Row-->
        <div class="form-row">
          <div class="form-group col-10 offset-1">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required ngModel #password="ngModel">
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
              Please enter your password
            </div>
          </div>  
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <button class="btn btn-dark" id="login-btn" type="submit" [disabled]="loginForm.invalid">Login</button>
          </div>
          <div class="col-10 offset-1" style="display: flex;">
            <a routerLink="/registration" class="register-link">Don't have an account? Register here.</a>            
          </div>
        </div>
      </form>
    </div> <!--End Col-->
  </div> <!--End Row-->
</div> <!--End Container-->
