@import "styles";

.form-title h2 {
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

form {
  background-color: $wild-blue-yonder;
  border: 3px solid $rich-black-fogra-29;
  border-radius: 2%;
  margin-top: 25px;
  padding: 35px;  

  input:not(#profile-pic), select {
    border: 1px solid $rich-black-fogra-29;
  }
}

#profile-pic {
  align-self: center;
}

#preview {
  display: block;
  margin: 25px auto;
  width: 180px;
}

.add-field-container {
  align-items: baseline;
  display: flex;
}

.add-btn-circle {
  font-size: 32px;
  margin: 5px;
}

.add-btn-circle:hover {
  color: $china-rose;
  cursor: pointer;
}

.add-btn-circle:active {
  color: $dutch-white;
}

.add-field-text {
  font-style: italic;  
}

@media (max-width: 576px) { 
  form {
    margin-bottom: 10px;
  }

  .add-field-container {
    .add-btn-circle {
      font-size: 24px;
    }
  }

  button {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .add-btn-circle {
    font-size: 24px;
    margin: 0;
  }
}