<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="contact-card">
      <div class="header">
        <!-- <img id="contact-picture" src="{{ contact[0].path }}" alt="{{ contact[0].firstName }} Profile Picture"> -->
        <img id="contact-picture" src="../../../../assets/contact_placeholder.png" alt="{{ contact[0].firstName }} Profile Picture">
        <h2 id="contact-name">{{ contact[0].firstName }} {{ contact[0].lastName }}</h2>
        <div class="modify-links">
          <a routerLink="../edit/{{ contact[0].id }}">Edit Contact</a>
          <a (click)="openModal(content)">Delete Contact</a>
        </div>   
      </div>
      <!--Delete Confirmation Modal-->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h3 class="modal-title">Delete Confirmation</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Closed with X')">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to delete contact:<span style="font-weight: bold;"> {{ contact[0].firstName }} {{ contact[0].lastName }}?</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteContact()">Yes, delete contact</button>
          <button type="button" class="btn btn-secondary" (click)="modal.close('Closed with cancel button')">Cancel</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-6 phone-section section"> 
      <h2>Phone Info</h2>
      <div *ngFor="let phone of contact[0].phoneInfo;">
        {{ phone.phone }}
        <p class="contact-type">{{ phone.phoneType }}</p>
      </div>
    </div>
    <div class="col-6 email-section section">
      <h2>Email Info</h2>
      <div *ngFor="let email of contact[0].emailInfo">
        {{ email.email }}
        <p class="contact-type">{{ email.emailType }}</p>
      </div>
    </div>
  </div>
</div>