<div class="container-fluid px-0">
  <div class="row">
    <div class="col-12 px-0" id="contact-card">
      <div class="header">
        <img *ngIf="contact[0].path == '' else contactContent" id="contact-picture" src="{{ placeholderSrc }}">
        <ng-template #contactContent>
          <img id="contact-picture" src="{{ contact[0].path }}">
        </ng-template>
        <h2 id="contact-name">{{ contact[0].firstName }} {{ contact[0].lastName }}</h2><br>
        <h2 id="contact-nickname">({{ contact[0].nickname }})</h2>
        <div class="modify-links">
          <a routerLink="../edit/{{ contact[0].id }}" class="edit-link">Edit Contact</a>
          <a (click)="openModal(content)" class="delete-link">Delete Contact</a>
        </div>   
      </div>
      <!--Delete Confirmation Modal-->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h3 class="modal-title">Delete Confirmation</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Closed with X')">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to delete contact:<span style="font-weight: bold;"> {{ contact[0].firstName }} {{ contact[0].lastName }}?</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteContact()">Yes, delete contact</button>
          <button type="button" class="btn btn-secondary" (click)="modal.close('Closed with cancel button')">Cancel</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <section class="col-md-6 phone-section"> 
      <h2>Phone</h2>
      <hr>
      <div class="row" *ngFor="let phone of contact[0].phoneInfo;">
        <div class="col-6 col-lg-9">
          <p class="phone">{{ phone.phone }}</p>
        </div>
        <div class="col-6 col-lg-3">
          <p class="contact-type">{{ phone.phoneType }}</p>
        </div>
      </div>
    </section>
    <section class="col-md-6 email-section">
      <h2>Email</h2>
      <hr>
      <div class="row" *ngFor="let email of contact[0].emailInfo;">
        <div class="col-6 col-lg-9">
          <a href="//{{ email.email }}" target="_blank" class="email">{{ email.email }}</a>
        </div>
        <div class="col-6 col-lg-3">
          <p class="contact-type" type="email">{{ email.emailType }}</p>
        </div>
      </div>
    </section>
  </div>
</div>