<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="contact-card">
      <div class="header">
        <!-- <img id="contact-picture" src="{{ contact[0].path }}" alt="{{ contact[0].firstName }} Profile Picture"> -->
        <img id="contact-picture" src="../../../../assets/contact_placeholder.png" alt="{{ contact[0].firstName }} Profile Picture">
        <h2 id="contact-name">{{ contact[0].firstName }} {{ contact[0].lastName }}</h2>
        <div class="modify-links">
          <a href="">Edit Contact</a>
          <a (click)="deleteContact()">Delete Contact</a>
        </div>   
      </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-6 phone-section section">
      <h2>Phone Info</h2>
      <p>{{ contact[0].phone }}</p>
      <p class="contact-type">{{ contact[0].phoneType }}</p>
    </div>
    <div class="col-6 email-section section">
      <h2>Email Info</h2>
    </div>
  </div>
</div>