<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 pl-0 pr-0">
      <app-contacts class="d-none d-sm-inline-block w-100"></app-contacts>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark d-sm-none">
      <a class="navbar-brand" href="#">Open List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
              data-target="#contact-hamburger" aria-controls="contact-hamburger"
              aria-expanded="false" aria-label="Toggle Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="contact-hamburger">
        <app-contacts class="d-sm-none"></app-contacts>
      </div>
    </nav>
    <div class="col-12 col-lg-10">
      <div *ngIf="numOfContacts == 0 && router.url != '/dashboard/add'" id="no-contacts-greeting">
        <h2>Looks like you currently have no contacts. Click the
        button below to add one!
        <br>
          <!-- Add Contact <i class="bi bi-plus-square-fill  add-icon" (click)="showAddForm()"></i> -->
          Add Contact <i class="bi bi-plus-square-fill  add-icon" routerLink="add"></i>
        </h2>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>