<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-sm-2 pl-0 pr-0">
      <app-contacts></app-contacts>
    </div>
    <div class="col-sm-10">
      <div *ngIf="numOfContacts == 0 && router.url != '/dashboard/add'" id="no-contacts-greeting">
        <h2>Looks like you currently have no contacts. Click the
        button below to add one!
        <br>
          <!-- Add Contact <i class="bi bi-plus-square-fill  add-icon" (click)="showAddForm()"></i> -->
          Add Contact <i class="bi bi-plus-square-fill  add-icon" routerLink="add"></i>
        </h2>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>